<!DOCTYPE html>
    <html>
        <head>
        <base href="{{config["siteUrl"]}}">
        <meta charset="UTF-8">
            <title>homepage</title>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
            <link rel="stylesheet" href="assets/css/style_site.css" />
            <style type="text/css">
                body
                {
                    background: url('{{fond | raw }}') no-repeat fixed;
                    background-size: cover;
                }
            </style>
        </head>
        <body>
