<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="image/ico1.ico">
        <link rel="stylesheet" href="assets/css/style_connexion.css" />
        <title>Connexion</title>
    </head>

    <body>
        
        <div class="title"><h1>Page d'inscription</h1></div>
        <div class="container">
            <div class="gauche">
                <div id="map" style="width:100%;height:100%"></div>
            </div>
            <script>

                var map;
                var markers = [];

                function initMap() {
                    var haightAshbury = {lat: 49.182863, lng: -0.370679};

                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 12,
                        center: haightAshbury,
                        mapTypeId: 'terrain'
                    });

                    // This event listener will call addMarker() when the map is clicked.
                    map.addListener('click', function(event) {
                        addMarker(event.latLng);
                        document.getElementById('lat').value=event.latLng.lat();
                        document.getElementById('lng').value=event.latLng.lng();

                    });

                    // Adds a marker at the center of the map.
                    addMarker(haightAshbury);
                }

                // Adds a marker to the map and push to the array.
                function addMarker(location) {
                    var marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                    markers.push(marker);
                }

                // Sets the map on all markers in the array.
                function setMapOnAll(map) {
                    for (var i = 0; i < markers.length; i++) {
                        markers[i].setMap(map);
                    }
                }

                // Removes the markers from the map, but keeps them in the array.
                function clearMarkers() {
                    setMapOnAll(null);
                }

                // Shows any markers currently in the array.
                function showMarkers() {
                    setMapOnAll(map);
                }

                // Deletes all markers in the array by removing references to them.
                function deleteMarkers() {
                    clearMarkers();
                    markers = [];
                }


            </script>

            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlUip8Tw5Z5mqYr6fum2xwwaSFQq7loiU&callback=initMap"></script>
                <div class="droite">
                    <a href="SiteController"><img id="hautdroit" src="assets/images/img2.png" /></a>
                    <div class="boiteco">
                        <form method="post" action="userRegister">
                            <p>Nom d'utilisateur</p> 
                            <input type="text" name="login" placeholder="entrer votre nom d'utilisateur">
                            <p>Mot de passe</p> 
                            <input type="Password" name="password" placeholder="*******">
                            <p>Confirmer votre mot de passe</p>
                            <input type="Password" name="password_bis" placeholder="*******">
                            <p>Latitude</p>
                            <input id="lat" type="text" name="lat" placeholder="" disabled="disabled">
                            <p>Longitude</p>
                            <input id="lng" type="text" name="lng" placeholder="" disabled="disabled">
                            <input onclick="deleteMarkers();" type="button" value="Supprimer les marqueurs">
                            <input type="submit" name="" value="Valider">
                        </form>
                    </div>
                </div> 
            </div>    
        </body>
</html>