<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="style.css" />
<link rel="shortcut icon" href="image/ico1.ico">
<title>Site</title>
<head>

</head>
<body>
<div id="cadreco">
    <p id="aligne"><b id = "titre">Authentification</b></p>
    <p>Bonjour mon copain</p>
    <br>
    <br>
</div>
    
<br>
<div id="cadrelog">
    <p id="aligne"><b id = "titre">Inscription</b></p>
    <form> 
    <p id = "color">Pseudo: </p><input id="encadre0" type="text" onkeyup="showHint(this.value)">
    <br>
    <p id = "color">Mot de passe: </p><input id="encadre1" type="text" onkeyup="showHint(this.value)">
    <br>
    <p id = "color">Confirmer votre mot de passe: </p><input id="encadre2" type="text" onkeyup="showHint(this.value)">
    <br>
    <div class = "bouton">
    <input type = "button" value="Valider" href="lien"/>
    </div>
    </form>
    

</div>

</body>
</html>