<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="style.css" />
        <link rel="shortcut icon" href="image/ico1.ico">
        <link rel="stylesheet" href="assets/css/style_admin.css" />
    </head>
    <body>
        <div class="container1">
            <div class='ui container'>
                {{q['bts'] | raw}}
            <div id='divSites'></div>
            </div>
            <br>
            <div id="map" style="width:300px;height:300px;"></div>
            {{jsMap | raw}}
            {{script_foot | raw}}
        </div>
    <br>
    </body>
</html>