<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="style.css" />
        <link rel="shortcut icon" href="image/ico1.ico">
        <link rel="stylesheet" href="assets/css/style_admin.css" />
    </head>
    <body>
        <div class="container1">
            <div class='ui container'>
                {{q['bts'] | raw}}
            </div>
            <div id="container-admin">
           	    <div id='divSites'></div>
                <div id="map" style="width:500px;height:300px;">{{jsMap | raw}}</div>
            </div>	    
        </div>
            {{script_foot | raw}}
        
    <br>
    </body>
</html>