    body
    {
        background: url(../images/img5.png) no-repeat fixed;
        margin: 0;
        padding: 0;
        background-size: cover;
        font-family: sans-serif;
    }

    #frmSite label
    {
        color:white;
    }

    .container1
    {
        margin: auto;
        margin-top: 50px;
        width: 80%;
        
    }
    
    #container-admin
    {
    	display: flex;
    	flex-direction: column;
    	width: 100%;
    	margin-top: 20px;;
    }

	#map
	{
		float: left;
	}
