    body
    {
        background: url(../images/img5.png) no-repeat fixed;
        margin: 0;
        padding: 0;
        background-size: cover;
        font-family: sans-serif;
    }

    #frmSite label
    {
        color:white;
    }

    .container1
    {
        margin: auto;
        margin-top: 50px;
        width: 80%;
        display: flex;
        justify-content: space-around;

    }

