		body
        {
            background: url(../images/img5.png) no-repeat;
            margin: 0;
            padding: 0;
            background-size: cover;
            font-family: sans-serif;
        }

        .container1
	    {
	    	margin-top: 50px;
	    	width: 80%;
	    	display: flex;
	    	justify-content: space-around;
	    	
	    }

	    #mdr
	    {
	    	
	    	list-style: none;
	    	line-height: 21px;
	    }


	    li
	    {
	    	list-style-type: none;
	    }

	    #barre
	    {
	    	width: 200%;
	    	height: 40px;
	    	font-size: 150%;

	    }

	    input
	    {
	    	width: 110px;
	    }
