<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="image/ico1.ico">
        <link rel="stylesheet" href="assets/css/style_site.css" />

        <title>Site</title>
    </head>

    <div class="container1">
    		<div class="bdr">
	    		<form action="https://encrypted.google.com/search?hl=fr&amp;source=hp&amp;q=" id="myform">
				<p><input id="barre" type="text" name="q" value="" /></p>
                </form>
            </div>
		    <div class="mdr">
		       <nav> 
			        <ul>
			        	<li class="mdrcadre"><a href="#">Moteurs de recherche</a>
				        	<ul class="submenu">
								<li class="duck"><a href="#"></a><input style="cursor:pointer;" id="Duck" type="submit" value="DuckDuckGo"onclick="document.getElementById('myform').action='https://duckduckgo.com/?kh=1&amp;kl=fr-fr&amp;q=';"></li>
					    		<li class="google" ><a href="#"></a><input style="cursor:pointer;" id="Google" type="submit" value="Google"onclick="document.getElementById('myform').action='https://www.google.fr/search?source=q=';"></li>
					    		<li class="ecosia"><a href="#"></a><input style="cursor:pointer;" id="Ecosia" type="submit" value="Ecosia"onclick="document.getElementById('myform').action='https://www.ecosia.org/search?q=';"></li>
					    		<li class="bing"><a href="#"></a><input style="cursor:pointer;" id="Bing" type="submit" value="Bing"onclick="document.getElementById('myform').action='https://www.bing.com/?cc=fr/?kh=1&amp;kl=fr-fr&amp;q=';"></li>
					    		<li class="yahoo"><a href="#"></a><input style="cursor:pointer;" id="Yahoo!" type="submit" value="Yahoo!"onclick="document.getElementById('myform').action='https://fr.yahoo.com/search?p"/></li>
				    		</ul>
				    	</li>
			    	</ul>
			    </nav>

            </div>
            
    </div>
    <div id="buttons-login">
            <div id="bt2">
                {{q["button-2"] | raw}}
            </div>

            <div id="bt3">
                {{q["button-3"] | raw}}
            </div>
	</div>
    <div id="container-login">
		    <div id="bt1">
                {{q["button-1"] | raw}}
            </div>
    <div id="list-site"></div>
    
    
            <div id="form">
            </div>
        </div>
    </body>
</html>