<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="image/ico1.ico">
        <link rel="stylesheet" href="assets/css/style_site.css" />

        <title>Site</title>
    </head>

    <body>
    	<div class="container1">
    		<div class="bdr">
	    		<form action="https://encrypted.google.com/search?hl=fr&amp;source=hp&amp;q=" id="myform">
				<p><input id="barre" type="text" name="q" value="" /></p>
			</div>
		    <div class="mdr">
		        <ul>
		        	<a><p>Moteurs de recherche</p></a>
					<li><input id="Duck" type="submit" value="DuckDuckGo"onclick="document.getElementById('myform').action='https://duckduckgo.com/?kh=1&amp;kl=fr-fr&amp;q=';"></li>
		    		<li><input id="Google" type="submit" value="Google"onclick="document.getElementById('myform').action='https://www.google.fr/search?source=q=';"></li>
		    		<li><input id="Ecosia" type="submit" value="Ecosia"onclick="document.getElementById('myform').action='https://www.ecosia.org/search?q=';"></li>
		    		<li><input id="Bing" type="submit" value="Bing"onclick="document.getElementById('myform').action='https://www.bing.com/?cc=fr/?kh=1&amp;kl=fr-fr&amp;q=';"></li>
		    		<li><input id="Yahoo!" type="submit" value="Yahoo!"onclick="document.getElementById('myform').action='https://fr.yahoo.com/search?p"/></li>
		    	</ul>
		    	</form>
		    </div>
<!--<script>
	    	$("q.lien_ext").onclick(function() {
  window.open($(this).attr("https"));
  return false;
});
	    	</script>-->
    	</div>
    	
    </body>
</html>